@use 'variables'

.basic-navbar-nav
    background: white

.navbar-container
    height: 60px
    width: 100%
    font-family: 'Karla'
    background: white
    position: fixed
    z-index: 2

.container-logo
    padding-left: 200px
    a
        text-decoration: none
        color: black
        font-size: 35px
        font-weight: 500

.navbar-links
    display: flex
    margin: auto
    font-size: 17px
    background: #F8F9FA
