@use 'variables'

    
#basic-navbar-nav
    width: 1500px
    overflow-x: hidden

.navbar-container
    height: 60px
    width: 100vw
    font-family: 'Karla'
    background: white
    position: fixed
    z-index: 2
    margin: auto

.container-logo
    padding-left: 200px
    a
        text-decoration: none
        color: black
        font-size: 35px
        font-weight: 500

.navbar-links
    width: 100%
    display: flex
    font-size: 17px
    background: #F8F9FA
    margin: auto
    

.icon-menu
    display: flex
    justify-content: start
       
